<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Gameloop -->
      <package
            uri="http://gameloop/1.0"
            class="Gameloop.GameloopPackage"
            genModel="model/Gameloop.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Physics -->
      <package
            uri="http://physics/1.0"
            class="Physics.PhysicsPackage"
            genModel="model/Physics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ontologicals -->
      <package
            uri="http://ontologicals/1.0"
            class="Ontologicals.OntologicalsPackage"
            genModel="model/Ontologicals.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Graphics -->
      <package
            uri="http://graphics/1.0"
            class="Graphics.GraphicsPackage"
            genModel="model/Graphics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Core -->
      <package
            uri="http://core/1.0"
            class="Core.CorePackage"
            genModel="model/Core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ardsl -->
      <package
            uri="http://ardsl/1.0"
            class="Ardsl.ArdslPackage"
            genModel="model/Ardsl.genmodel"/>
   </extension>

</plugin>
